venv/
__pycache__/
*.pyc
.DS_Store
tests/__pycache__/

#Terraform files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/tfplan
#Monitoring files
monitoring/data/
monitoring/.prometheus/
monitoring/.grafana/
#IDE files
.vscode/
.idea/
*.iml

#OS files
Thumbs.db
ehthumbs.db
Desktop.ini

